.footer_area{
    background-color: #DD4152;
    margin-top: 5rem;
    color: white;
}

.footer_container{
    padding-top: 5rem;
}

.footer_row{
    margin-top: 4rem;
}

.our_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.icon_list img{
    margin: auto 1rem;
}