.currentDonation_card{
    box-shadow: #00000029 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    background-color: white;
    padding: 2rem 5rem !important;
}

.cur_don_data{
    border-radius: 0%;
}

.cur_don_data_1{
    font-size: 110%;
    font-weight: bold;
}

.cur_don_data_2{
    margin-top: 2rem;
    font-size: 110%;
    font-weight: bold;
}

.bord{
    border-right: 1px solid grey;
}

@media screen and (max-width: 767px) {
    .bord{
        border-right: none;
        border-bottom: 1px solid grey;
    }
}

@media screen and (max-width: 993px) {
    .cur_don_data{
        border-radius: 0%;
    }
    
    .cur_don_data_1{
        font-size: 100%;
        font-weight: bold;
    }

    .cur_don_data_1{
        margin-bottom: 2rem;
    }

    .cur_don_data_2{
        margin-top: 5rem;
    }
    
    .cur_don_data_2{
        font-size: 100%;
        font-weight: bold;
    }

}

@media  screen and (max-width: 580px) {
    .cur_don_data_1{
        font-size: 90%;
        
    }
    .cur_don_data_2{
        font-size: 90%;
    }

    .currentDonation_card {
        padding: 1rem 0.5rem !important;
    }
}
